* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}


@font-face {
  font-family: MagicFont;
  src: url(styling/MAGIC.TTF);
}

body {
  background-color: #BDCAD2;
}

.noget {
  background-color: #87796A;
}

.header {
  background-color: #755292;
  height: 54px;
  padding: 2px;
}

.title {
  font-family: MagicFont;
  font-size: 60px;
  letter-spacing: 0.1em;
  color: #D8DED3;
  text-shadow: 2px 2px black;

}

.box {
  background-image: url(styling/balduvian-trading-post.png);
  background-repeat: no-repeat;
}

